{% extends "base/client/base.html" %}
{% load static %} 
{% block head %}
<style>
    .contact-us-container{
        /* padding: 2rem 22rem; */
        background-color: white;
    }
    .breadcumb-title-div{
        background-color: #eef2f695 !important;
        padding: 2rem 11rem;
    }
    .breadcumb-title-div h2{
        padding: 0;
        /* font-size: 4rem; */
        color: rgb(17, 19, 35);
    }
    .breadcrumb{
        background-color: transparent;
        font-size: 1.5rem;
        padding:8px 0 !important;
    }
    .breadcrumb a{
        /* color: #fff; */
    }
    .breadcrumb > .active{
        color: gray;
    }
    .contact-title{
        color: aliceblue ;
    }
    .contact-us-info-container{
        /* background-color: #f9f9f9; */
        /* padding: 2rem 4rem; */
        /* max-width: 900px; */
        /* width: 600px; */
        padding: 2rem 11rem;
        margin: 2rem auto;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border-radius: 10px; */
        display: flex;
        flex-direction: column;
        
    }
    .row{
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }
    /* .card{
        width: 100%;
        min-height: 200px;
        max-height: 300px;
        background-color: #f9f9f9;
        padding:1rem 2rem;
        border-radius: 10px;
        border: 1px solid gray;
        border: 1px solid gainsboro;
        transition: all 0.3s ease-in-out;
    }
    .card:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        box-shadow: rgba(120, 146, 179, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border: 1px solid gainsboro;
        border-left: 8px solid #333;
    } */
    /* .card{
        width: 100%;
        min-height: 200px;
        max-height: 300px;
        background-color: #f9f9f9;
        padding:1rem 2rem;
        border-radius: 10px;
        border: 1px solid gainsboro;
        box-shadow: rgba(120, 146, 179, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        transition: all 0.3s ease-in-out;
    }
    .card:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        
        border: 1px solid rgb(175, 170, 170);
        border-left: 8px solid #333;
        transform: translateY(-5px);
    } */
    .card{
        width: 100%;
        min-height: 200px;
        max-height: 300px;
        background-color: #f8f6eed5;
        padding:1rem 2rem;
        border-radius: 10px;
        /* border: 1px solid gainsboro; */
        /* box-shadow: rgba(120, 146, 179, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
        transition: all 0.3s ease-in-out;
    }
    .card:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        
        /* border: 1px solid rgb(175, 170, 170); */
        /* border-left: 8px solid #333; */
        transform: translateY(-5px);
    }
    .card h3{
        /* color: #337ab7; */
        /* font-size: 1.5rem; */
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .card p{
        color: #333;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .card .fa{
        font-size: 5rem;
       margin-right: 1rem;
    }
    .img-responsive{
        width: 80%;
        height: auto;
    }
    @media screen and (max-width: 768px){
        .contact-info-container{
            padding: 2rem 1rem;
        }
        .row{
            flex-direction: column;
            margin: 1rem 2rem;
        }
        .card + .card{
            margin-top: 2rem;
        }
        
    }
</style>

{% endblock %}
 {% block content %}
    <div class="contact-us-container">
        <div class="breadcumb-title-div wow fadeInUp">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
          <h2>
              <strong>Contact Us</strong>
          </h2>
        </div>
          <div class="contact-us-info-container wow fadeInUp">
            <div class="row">
              <div class="col-md-6">
                  <h2 >
                    We’re Connected All Time To Help Our Patients
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, fuga! Laborum unde recusandae officiis earum odit cum porro sequi saepe tempora deleniti, obcaecati officia nisi. Esse eos nulla dolorum quo.
                  </p>
              </div>
              <div class="col-md-6">
                <img src="{% static 'img/clinic/undraw_contact_us_re_4qqt.svg' %}" class="img-responsive" alt="contact us" />
              </div>
            </div>
            
              <div class="row" style="margin-top: 4rem">
                <div class="col-md-4 card">
                    <h3>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Address
                    </h3>
                    <p>
                        M.K. Gandhi Road, 
                        3rd Floor, MKM Apartment,
                        New Delhi, 
                        India
                </div>
               
                <div class="col-md-4 card">
                    <h3>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        Opening Hours
                    </h3>
                    <p>
                        Mon-Fri -> 06 AM - 10 PM
                        <br>
                        Sat -> 06 AM - 08 PM
                        <br>
                        Sun -> Closed
                </div>
                <div class="col-md-4 card">
                    <h3>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        Phone & Email
                    </h3>
                    <p>
                        Feel free to contact us at-
                        <br/>
                        +91 8788123456
                        <br>
                        <a href="mailto:info@dishaeyecare.com">
                            info@dishaeyecare.com
                        </a>
                </div>
            </div>
        
          </div>
          
    </div>

 {% endblock %}