{% extends "base/client/base.html" %}
{% load static %} 
{% load widget_tweaks %}
{% block head %}
<style>
    .input-div + .input-div {
        margin-top: 16px;
    }
      .flex{
          /* margin-left:-8px ; */
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        align-items: center;
      }
      .flex + .flex {
          margin-top: 1rem;
      }
      /* .container{
          padding: 1rem;
      } */
      
      .center-div{
        margin: 0 auto !important;
        /* width: 500px; */
        /* max-width: 700px; */
        padding: 4rem 11rem;
      }

      .appointment-home-container{
          /* padding: 1em 0;
        margin: 1rem auto; */
        /* border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
      }
      .appointment-home-container table{
          width: 100%;
          background-color: beige;
    border-radius: 8px;
      }
      .appointment-home-container tr{
        display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid gainsboro; */
      }
      .appointment-home-container tr:not(:last-child) {
    border-bottom: 1px solid gainsboro;
}
      .appointment-home-container td{
        padding: 1rem;
        flex-basis: 50%;
      }
      
      .card{
          /* margin-top: 2rem; */
          padding: 1rem;
          border-radius: 8px;
          transition: all 0.3s ease;
          min-height: 300px;
          
      }
      .card:hover{
            /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
            transform: translate(0, -5px);
            /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
      }
      
      .step-icon{
        width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
      }
      .step-icon .fa {
        font-size: 3rem;
    color: white;
      }
      .card h2, .card h4{
          margin: 0 !important;
      }
      .card p{
            margin: 0 !important;
            margin-top: 0.5rem;
            font-size: 1.6rem;
      }
      .button-div{
          /* margin-top:4rem; */
          /* margin-left: 4rem; */
          /* margin-bottom: 2rem; */
          position: fixed;
    bottom: 100px;
    right: 100px;
      }
      
      .button{
          background-color: #1da1f2;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 1rem 6rem;
            font-size: 2rem;
            cursor: pointer;
            
            
      }
      .button:hover{
          background-color: #325c76;
            color: white;
      }
      .previous-appointment-link-div {
          /* margin-top:4rem; */
          /* margin-left: 1rem; */
          /* margin-bottom: 2rem; */
      }
      .previous-appointment-link-div a{
          color: #1da1f2;
          /* text-decoration: underline; */
          padding: 1rem 2rem;
          border-radius: 4px;
          border: 1px solid #1da1f2;
          

      }
        .previous-appointment-link-div a:hover{
            color: white;
            background-color: #1da1f2;

        }
        .img-responsive{
            width:80%;
            height: auto;
        }
        .breadcumb-title-div{
        background-color: #eef2f695 !important;
        padding: 2rem 11rem;
    }
    .breadcumb-title-div h2{
        /* font-size: 4rem; */
        color: rgb(17, 19, 35);
    }
    .breadcrumb{
        background-color: transparent;
        font-size: 1.5rem;
        padding:8px 0 !important;
    }
    .breadcrumb a{
        /* color: #fff; */
    }
    .breadcrumb > .active{
        color: gray;
    }
    .appointment-image{
        display: flex;
    justify-content: flex-end;
    }
    hr{
        height: 1px;
    }
    .card-header-flex{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .card-header-flex h2{
        padding: 0 2rem;
    }
    .card h4{
        margin-top: 2rem !important;
    }
    .mt-8{
        margin-top: 4rem;
    }
</style>
{% endblock %}
{% block content %}
<div class="appointment-home-container">
    <div class="breadcumb-title-div wow fadeInUp">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Appointments</li>
            </ol>
          </nav>
          <h2>
              <strong>Appointments</strong>
          </h2>
    </div>
    <div class="row center-div">
        <div class="row wow fadeInUp">
            <div class="col-md-6 col-img">
                <img src="{% static 'img/clinic/undraw_booking_svg.svg' %}" class="img-responsive enter-otp-img" alt="contact us" />
               
                 
              </div>
            <div class="col-md-6">
               
                
                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                        <h2>Welcome</h2>
                        <p>You are at right place. We have very simple steps to book your appointment with our doctor</p>
                        <p>
                            We will help you to book your appointment with our doctor.
                        </p>
                        
                   </div>
            </div>
          </div>
       
           <hr>
            <div class="wow fadeInUp" data-wow-delay="0.8s">
                <div class="flex steps-row">
                    <div class="col-md-4 card">
                        <div class="card-header-flex">
                            <div class="step-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            <h2>01</h2>
                            
                        </div>
                        <h4>
                            <strong>Check Available Slots</strong>
                        </h4>
                        <p>
                            Select your preferred date and the doctor whom you want to book an appointment. Here you can see the available slots for the selected date and for the selected doctor.
                        </p>
                       
                    </div>
                    <div class="col-md-4 card">
                        <div class="card-header-flex">
                            <div class="step-icon"><i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                            <h2>02</h2>
                            
                        </div>
                        <h4>
                            <strong>Verify yourself</strong>
                        </h4>
                        <p>
                            Please enter your phone number in order to help us verify your identity. You will receive a verification code to your phone number via SMS. Enter the code recieved when asked to proceed. 
                        </p>
                       
                    </div>
                    <div class="col-md-4 card">
                        <div class="card-header-flex">
                            <div class="step-icon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <h2>03</h2>
                            
                        </div>
                        <h4>
                            <strong>Profile Details</strong>
                        </h4>
                        <p>
                            Please enter your demographic details.Also provide required medical information . You can edit your profile later if you want. So feel free to fill in the details.
                        </p>
                       
                    </div>
                </div>
              <!--   <div class="row flex">
                  
                        <div class="col-md-4 card">
                           
                            <div class="col-md-10">
                                <div class="card-header-flex">
                                    <div class="step-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    <h2>01</h2>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4>
                                    <strong>Check Available Slots</strong>
                                </h4>
                                <p>
                                    Select your preferred date and the doctor whom you want to book an appointment. Here you can see the available slots for the selected date and for the selected doctor.
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-md-4 card">
                            <div class="col-md-10">
                                <div class="card-header-flex">
                                    <div class="step-icon"><i class="fa fa-key" aria-hidden="true"></i>
                                    </div>
                                    <h2>02</h2>
                                </div>
                            </div>
                            <div class="col-md-10">
                                
                                <h4>
                                    <strong>Verify yourself</strong>
                                </h4>
                                <p>
                                    Please enter your phone number in order to help us verify your identity. You will receive a verification code to your phone number via SMS. Enter the code recieved when asked to proceed.
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-md-4 card">
                            <div class="col-md-10">
                                <div class="card-header-flex">
                                    <div class="step-icon">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <h2>03</h2>
                                </div>
                            </div>
                            <div class="col-md-10">
                                
                                <h4>
                                    <strong>Profile Details</strong>
                                </h4>
                                <p>
                                    Please enter your demographic details.Also provide required medical information . You can edit your profile later if you want.
                                </p>
                            </div>
                        </div>
                   
                     <div class="col-md-6 col-sm-6 input-div appointment-image">
                        <img src="{% static 'img/clinic/undraw_booking_svg.svg' %}" class="img-responsive" alt="appointment booking" />
                   </div>       
                   
                 </div>    -->
                 
                <div class="row flex previous-appointment-link-div mt-8">
                    
                    <div class="col-md-12 col-sm-12">
                      <p> If you have made any prevoius appointment with us, feel free to checkout your previous appointments here. </p>
                      <p>
                        <strong>
                            <a href="{% url 'patient:appointment-history' %}">
                                Prevoius Appointments
                            </a>      
                            </strong>
                      </p>
                         
                    </div>
                </div>
            </div>
        
    </div>
    <div class=" button-div">
        <a href="{% url 'patient:check-available-slots' %}" class="button">Let's Get Started</a>
       </div>   
</div>

{% endblock %}